<div class="user_page">
  <header>
    <div class="heading">

      <div class="user_meta clearfix">
        <% if current_user.avatar.present? %>
          <%= image_tag current_user.avatar.url, :class=>"avatar"%>
          <% else %>
          <%= image_tag "avatar.JPG", :class=>"avatar" %>
          <% end %>
        <div class="text">
          <div class="name">
            <p><%= current_user.nickname %></p>
          </div>
          <div class="group">
            <p>group</p>
          </div>
        </div>
      </div>

      <div class="sign_out">
        <%= link_to 'サインアウト', "/users/sign_out", method: :delete %>
      </div>
    </div>
  </header>

  <div class="contents">
    <% current_user.reviews.each do |review| %>
    <div class="container clearfix">
      <div class="review-box clearfix">
         <div class="date clearfix">
           <p><%= review.created_at.strftime("%Y-%m-%d")%></p>
         </div>
         <h2><%= review.restaurant.name %></h2>
         <p>評価:<i class="rate-<%= review.rate %>"></i></p>
         <% if review.dinner_cost.blank? %>
           <p>昼：<%= review.lunch_cost %>円/人</p>
         <% else %>
           <p>夜：<%= review.dinner_cost %>円/人</p>
         <% end %>

         <div class="keywords clearfix">
         <% if "#{review.guests}"=="0" %>
           <div class="keyword">
            <p>女性が多い</p>
           </div>
          <% elsif "#{review.guests}"=="1" %>
          <div class="keyword">
            <p>半分半分</p>
           </div>
          <% elsif "#{review.guests}"=="2" %>
          <div class="keyword">
            <p>男性が多い</p>
           </div>
           <% end %>

           <% if "#{review.atmosphere}"=="0" %>
           <div class="keyword">
            <p>落ち着く</p>
           </div>
          <% elsif "#{review.atmosphere}"=="1" %>
          <div class="keyword">
            <p>にぎやか</p>
           </div>
          <% elsif "#{review.atmosphere}"=="2" %>
          <div class="keyword">
            <p>うるさい</p>
           </div>
           <% end %>

           <% if "#{review.menu}"=="0" %>
           <div class="keyword">
            <p>ひとりメニュー</p>
           </div>
           <% end %>
         </div> <!-- keywords -->

          <div class="text">
            <p><%= review.text %></p>
          </div>

            <ul class="photos clearfix">
              <% review.photos.each do |photo| %>
              <li><%= image_tag photo.image.url %></li>
              <% end %>
            </ul>

         <div class="icon clearfix">
           <i class="fa fa-heart-o" aria-hidden="true"></i>
           <i class="fa fa-commenting-o" aria-hidden="true"></i>
         </div>

         <% if user_signed_in? && current_user.id == review.user_id %>
         <div class="more">
           <div class="delete">
              <%= link_to '削除', "/restaurants/#{review.restaurant_id}/reviews/#{review.id}", method: :delete %>
           </div>
           <div class="edit">
              <%= link_to '編集', "/restaurants/#{review.restaurant_id}/reviews/#{review.id}/edit", method: :get %>
           </div>
         </div>
         <% end %>
       </div> <!-- review-box -->

    </div> <!-- container -->
    <% end %>
  </div>

</div>
