<!-- <!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8" />
  <title>TopPage</title>
  <link rel="stylesheet" href="search-style.css">
</head>
  <body> -->
<div class="search_page">
  <header>
    <div class="heading">

      <a href="/"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>

      <%= form_tag('/restaurants/search', method: :get) do %>
      <div class="search_box">
        <input type="text" name="keyword" placeholder="店名で検索する">
      </div>
        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      <% end %>

    </div>
  </header>

  <div class="contents">
    <% @restaurants.each do |restaurant| %>
    <a href="/restaurants/<%= restaurant.id %>/reviews/new">
    <div class="container clearfix">
      <%= image_tag "photo.jpeg", :class=>"image" %>
      <div class="text-part">
        <h1><%= restaurant.name %></h1>
        <p><%= restaurant.location %> / <%= restaurant.genre %></p>
      </div>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
    </a>
    <% end %>

  </div>

  <!-- <div class="heading">
    <h1><%= image_tag "logo@3x.png", :class=>"PICCA" %></h1>
  </div>

  <div id="sentence">
    <p>今近くに285人が一人外食をしています</p>
  </div>

  <div class="search_area">

    <a href="/restaurants"><div class="search_box">
      <p>Nearby</p>
    </div></a>

    <a href="/restaurants"><div class="search_box">
      <p>Location</p>
    </div></a>

    <a href="/restaurants"><div class="search_box">
      <p>Map</p>
    </div></a>

  </div> -->



</div> <!-- search_page -->

<!--   </body>
</html> -->
